@import "./fonts/inter.css";
@import "tailwindcss";

:root,
[data-theme="light"] {
  --bg: oklch(87% 0 none);
  --text: oklch(20.5% 0 none);
}

[data-theme="dark"] {
  --bg: oklch(20.5% 0 none);
  --text: oklch(97% 0 none);
}

@theme {
  --font-inter: "Inter";
  --color-ui-bg: var(--bg);
  --color-ui-text: var(--text);
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  * {
    scrollbar-width: thin;
  }

  body {
    @apply bg-ui-bg text-ui-text font-inter text-sm scrollbar-thumb-neutral-600;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .content-line::after {
    content: "";
    position: absolute;
  }

  .simplebar-track.simplebar-vertical {
    right: -10px !important;
  }

  .simplebar-scrollbar::before {
    background: #404040 !important;
  }

  .tag {
    font-size: calc(3rem - (sibling-count() * 0.1rem));
  }
}

.line-progress::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: #ad46ff;
  border-radius: 20px;
  color:;
}
