@import "./fonts/inter.css";
@import "tailwindcss";

@theme {
  --font-inter: "Inter";
}

@layer base {
  * {
    scrollbar-width: thin;
  }

  body {
    @apply bg-neutral-900 text-neutral-100 font-inter text-sm scrollbar-thumb-neutral-600;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .content-line::after {
    content: "";
    position: absolute;
  }

  .simplebar-track.simplebar-vertical {
    right: -10px !important;
  }

  .simplebar-scrollbar::before {
    background: #404040 !important;
  }
}

.line-progress::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: #AD46FF;
  border-radius: 20px;
  color: ;
}